.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.logo span {
  color: #8b5cf6;
}

.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 16px;
}

.nav-links a:hover {
  color: #8b5cf6;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}